<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="text-center">


    <div class="login">

        <h1>Login<br>Bug Tracker</h1>
        <form action="{{ url_for('login')}}" method="post">
            {% if get_flashed_messages() %}
            {% with messages = get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
            {% endwith %}
            {% endif %}
            <input id="email" type="text" name="email" placeholder="Email" required="required" />
            <input id="password" type="password" name="pass" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Log in.</button>
            <a class="btn btn-primary btn-block btn-large" href="{{url_for('register')}}">Register</a>
            <a class="btn btn-primary btn-block btn-large" href="{{url_for('log_in_demo_user', id=2)}}">Login as Demo
                Admin</a>
            <a class="btn btn-primary btn-block btn-large" href="{{url_for('log_in_demo_user', id=3)}}">Login as Demo
                Project Manager</a>
            <a class="btn btn-primary btn-block btn-large" href="{{url_for('log_in_demo_user', id=4)}}">Login as Demo
                Developer</a>


            <a class="btn btn-primary btn-block btn-large" href="{{url_for('google_login')}}" role="button"
                style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google
            </a>
        </form>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/SoriOner">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/rodrigo-rojo/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/Rodrigo-Rojo/Bug-Tracker">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright">Copyright &copy; Rodrigo Rojo {{year}}</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>